<h2 class="title">Paginator</h2>

<div>
  See Angular's Material's <a color="primary" href="https://material.angular.io/components/paginator/overview"
                              target="_blank">Paginator component</a> and
  <a href="https://github.com/angular/components/tree/main/src/material/paginator" target="_blank">source code</a>.
</div>

<section>

  <mat-paginator [length]="100"
                 [pageSize]="10"
                 [showFirstLastButtons]="true"
                 [pageSizeOptions]="[5, 10, 25, 100]"
                 aria-label="Select page">
  </mat-paginator>

</section>
