:host {

  display: flex;
  flex-direction: column;
  gap: 24px;

  section {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .mat-card-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

}
