<h2 class="title">Badge</h2>

<div>
  See Angular's Material's <a color="primary" href="https://material.angular.io/components/badge/overview"
                              target="_blank">Badge component</a> and
  <a href="https://github.com/angular/components/tree/main/src/material/badge" target="_blank">source code</a>.
</div>

<section>

  <mat-card>
    <mat-card-title>Badge examples</mat-card-title>
    <mat-card-content>
      <p>
        <span matBadge="4" matBadgeOverlap="true">Text with a badge</span>
      </p>
      <p>
        <span matBadge="4" matBadgeSize="small" matBadgeOverlap="false">Text with small badge</span>
      </p>
      <p>
        <span matBadge="1" matBadgeSize="large" matBadgeOverlap="false">Text with large badge</span>
      </p>
      <p>
        Button with a badge on the left
        <button mat-raised-button color="primary" matBadge="8" matBadgePosition="before" [matBadgeColor]="$any('info')">
          Action
        </button>
      </p>
      <p>
        Button with badge on the right
        <button mat-raised-button color="accent" matBadge="7" matBadgeColor="primary" [matBadgeColor]="$any('warn')">
          Button
        </button>
      </p>
      <p>
        Icon with a badge
        <mat-icon matBadge="15" matBadgeColor="warn">home</mat-icon>
      </p>
    </mat-card-content>

    <mat-divider></mat-divider>

    <mat-card-content>
      <p>
        <span matBadge="Right" matBadgeOverlap="false" matBadgeShape="rectangle">Text with rectangle badge on the right</span>
      </p>
      <p>
        <span matBadge="Right" matBadgeOverlap="true" matBadgeShape="rectangle">Text with rectangle overlap badge on the right</span>
      </p>
      <p style="padding-left: 35px;">
        <span matBadge="Left" matBadgeOverlap="false" matBadgePosition="before" matBadgeShape="rectangle">Text with rectangle badge on the left</span>
      </p>
      <p style="padding-left: 6px;">
        <span matBadge="Left" matBadgeOverlap="true" matBadgePosition="before" matBadgeShape="rectangle">Text with rectangle overlap badge on the left</span>
      </p>
    </mat-card-content>

    <mat-divider></mat-divider>

    <mat-card-content>
      <p>
        Button with rectangle badge on the right
      </p>
      <p style="display: flex; gap: 16px; flex-wrap: wrap">
        <button
          *ngFor="let size of ['small', 'medium', 'large']"
          mat-flat-button
          color="primary"
          matBadge="Rectangle badge"
          [matBadgeSize]="$any(size)"
          matBadgeColor="warn"
          matBadgeShape="rectangle">
          Button with <strong>{{ size }}</strong> badge
        </button>
      </p>

    </mat-card-content>

    <mat-divider></mat-divider>

    <mat-card-content>
      <p>
        Button with rectangle badge on the left
      </p>
      <p style="display: flex; gap: 16px; flex-wrap: wrap">
        <button
          *ngFor="let size of ['small', 'medium', 'large']"
          mat-flat-button
          color="primary"
          matBadge="Rectangle badge"
          matBadgePosition="before"
          [matBadgeSize]="$any(size)"
          matBadgeColor="warn"
          matBadgeShape="rectangle">
          Button with <strong>{{ size }}</strong> badge
        </button>
      </p>

    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Text badges</mat-card-title>
    <mat-card-content>
      <p>
        <span matBadge="4" matBadgeOverlap="false">Text with a badge</span>
      </p>
      <p *ngFor="let c of allColors">
        <span matBadge="4" matBadgeOverlap="false" [matBadgeColor]="$any(c)">Text with a {{ c }} badge</span>
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Button badges</mat-card-title>
    <mat-card-content>
      <p *ngFor="let c of allColors" style="margin-bottom: 24px;">
        Button with a badge on the left
        <button mat-raised-button color="primary" matBadgeSize="small"
                matBadge="8" matBadgePosition="before" [matBadgeColor]="$any(c)">
          Action
        </button>
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Sizes</mat-card-title>
    <mat-card-content>
      <p *ngFor="let size of ['small', 'medium', 'large']">
        <span matBadge="Some text" matBadgeOverlap="false" matBadgePosition="after" [matBadgeSize]="$any(size)"
              matBadgeShape="rectangle">Text with a <strong>{{ size }}</strong> badge</span>
      </p>
    </mat-card-content>
  </mat-card>

  <p>
    Icon with a badge
    <mat-icon matBadge="15" matBadgeColor="warn">home</mat-icon>
    <!-- Include text description of the icon's meaning for screen-readers -->
    <span class="cdk-visually-hidden">
      Example with a home icon with overlaid badge showing the number 15
    </span>
  </p>
</section>
