<h2 class="title">Badge</h2>

<div>
  See Angular's Material's <a color="primary" href="https://material.angular.io/components/badge/overview" target="_blank">Badge component</a>.
</div>

<section>
  <mat-card>
    <mat-card-title>Text badges</mat-card-title>
    <mat-card-content>
      <p>
        <span matBadge="4" matBadgeOverlap="false">Text with a badge</span>
      </p>
      <p *ngFor="let c of allColors">
        <span matBadge="4" matBadgeOverlap="false" [matBadgeColor]="$any(c)">Text with a {{ c }} badge</span>
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Button badges</mat-card-title>
    <mat-card-content>
      <p *ngFor="let c of allColors" style="margin-bottom: 24px;">
        Button with a badge on the left
        <button mat-raised-button color="primary"
                matBadge="8" matBadgePosition="after" [matBadgeColor]="$any(c)">
          Action
        </button>
      </p>
    </mat-card-content>
  </mat-card>

  <p>
    Icon with a badge
    <mat-icon matBadge="15" matBadgeColor="warn">home</mat-icon>
    <!-- Include text description of the icon's meaning for screen-readers -->
    <span class="cdk-visually-hidden">
      Example with a home icon with overlaid badge showing the number 15
    </span>
  </p>
</section>
