:host {

  display: flex;
  flex-direction: column;

  section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;

    > * {
      align-self: self-start;
    }
  }

  .mat-card-content {
    flex-direction: column;
    display: flex;
    gap: 16px;
  }

}
