:host {

  display: flex;
  flex-direction: column;
  gap: 24px;

  .mat-card-title {
    margin-bottom: 24px;
  }

  .flex-row {
    display: flex;
    gap: 24px;
  }

  .flex-col {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

}
