<h2 class="title">Progress spinner</h2>

<div>
  See Angular's Material's <a color="primary" href="https://material.angular.io/components/progress-spinner/overview"
                              target="_blank">Progress spinner component</a> and
  <a href="https://github.com/angular/components/tree/main/src/material/progress-spinner" target="_blank">source code</a>.
</div>

<section>

  <mat-card>
    <mat-card-title>Progress spinner</mat-card-title>
    <mat-card-content>

      <mat-spinner
        *ngFor="let c of allColors; let i = index;"
        mode="determinate"
        [value]="66"
        [color]="c" diameter="48"></mat-spinner>

    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Progress animated spinner</mat-card-title>
    <mat-card-content>

      <mat-spinner
        *ngFor="let c of allColors"
        [color]="c" diameter="48"></mat-spinner>

    </mat-card-content>
  </mat-card>

</section>
