<h1 class="mat-display-1">Snackbar</h1>

<section>

  <mat-card>
    <mat-card-title>Snackbar</mat-card-title>
    <mat-card-content>

      <mat-form-field appearance="outline">
        <mat-label>Message</mat-label>
        <input matInput value="Disco party!" #message>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Action</mat-label>
        <input matInput value="Dance" #action>
      </mat-form-field>

      <button mat-flat-button color="primary" (click)="openSnackBar(message.value, action.value)">Show snack-bar</button>

    </mat-card-content>
  </mat-card>

</section>
