<h2 class="title">Toolbar</h2>

<div>
  See Angular's Material's <a color="primary" href="https://material.angular.io/components/toolbar/overview"
                              target="_blank">Toolbar component</a>.
</div>


<section>

  <mat-card>
    <mat-card-title>Toolbar colors</mat-card-title>
    <mat-card-content>

      <mat-toolbar>
        <button mat-icon-button>
          <mat-icon>menu</mat-icon>
        </button>
        <span>Default color</span>
        <button mat-icon-button>
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>share</mat-icon>
        </button>
      </mat-toolbar>

      <mat-toolbar *ngFor="let c of allColors" [color]="c">
        <button mat-icon-button>
          <mat-icon>menu</mat-icon>
        </button>
        <span>{{ c | titlecase }} color</span>
        <button mat-icon-button>
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>share</mat-icon>
        </button>
      </mat-toolbar>

    </mat-card-content>
  </mat-card>

</section>
