<h2 class="title">Tabs</h2>

<div>
  See Angular's Material's <a color="primary" href="https://material.angular.io/components/tabs/overview"
                              target="_blank">Tabs component</a>.
</div>


<section>

  <mat-card>
    <mat-card-title>Tab groups colors</mat-card-title>
    <mat-card-content>

      <mat-tab-group *ngFor="let c of allColors" [color]="c">
        <mat-tab label="First"></mat-tab>
        <mat-tab label="Second"></mat-tab>
        <mat-tab label="Third"></mat-tab>
      </mat-tab-group>

      <mat-tab-group *ngFor="let c of allColors" [color]="c" [backgroundColor]="$any(c)">
        <mat-tab label="First"></mat-tab>
        <mat-tab label="Second"></mat-tab>
        <mat-tab label="Third"></mat-tab>
      </mat-tab-group>

    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Tab nav colors</mat-card-title>
    <mat-card-content>

      <div *ngFor="let c of allColors">
        <nav mat-tab-nav-bar [color]="$any(c)" [attr.color]="c" [tabPanel]="tabPanel1">
          <a mat-tab-link *ngFor="let link of links"
             (click)="activeLink = link + c"
             [active]="activeLink == link + c"> {{ link }} </a>
        </nav>
        <mat-tab-nav-panel #tabPanel1></mat-tab-nav-panel>
      </div>

      <div *ngFor="let c of allColors">
        <nav mat-tab-nav-bar [color]="$any(c)" [backgroundColor]="$any(c)" [attr.color]="c" [tabPanel]="tabPanel2">
          <a mat-tab-link *ngFor="let link of links"
             (click)="activeLink = link + c"
             [active]="activeLink == link + c"> {{ link }} </a>
        </nav>
        <mat-tab-nav-panel #tabPanel2></mat-tab-nav-panel>

      </div>

    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Tab dense variant</mat-card-title>
    <mat-card-content>

      <mat-tab-group color="primary" dense>
        <mat-tab label="First"></mat-tab>
        <mat-tab label="Second"></mat-tab>
        <mat-tab label="Third"></mat-tab>
      </mat-tab-group>

      <mat-tab-group color="info" [backgroundColor]="$any('info')" dense>
        <mat-tab label="First"></mat-tab>
        <mat-tab label="Second"></mat-tab>
        <mat-tab label="Third"></mat-tab>
      </mat-tab-group>

      <div>
        <nav mat-tab-nav-bar color="success" [attr.color]="'success'" [tabPanel]="tabPanel3" dense>
          <a mat-tab-link *ngFor="let link of links"
             (click)="activeLink = link"
             [active]="activeLink == link"> {{ link}} </a>
        </nav>
        <mat-tab-nav-panel #tabPanel3></mat-tab-nav-panel>
      </div>

      <div>
        <nav mat-tab-nav-bar color="caution" [backgroundColor]="$any('caution')" [attr.color]="'caution'" [tabPanel]="tabPanel4" dense>
          <a mat-tab-link *ngFor="let link of links"
             (click)="activeLink = link"
             [active]="activeLink == link"> {{ link }} </a>
        </nav>
        <mat-tab-nav-panel #tabPanel4></mat-tab-nav-panel>
      </div>

    </mat-card-content>
  </mat-card>

</section>
