:host {

  display: flex;
  flex-direction: column;
  gap: 24px;

  section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }

  .mat-card-content {
    flex-direction: column;
    display: flex;
    gap: 16px;
  }

}
