
@use '@angular/material' as mat;
@use "../_material/theme" as customTheme;

@import "colors";
@import "typography";


// Foreground Elements

// Dark Theme text
$light-text: black;
$light-primary-text: $light-text;
$light-accent-text: #a1b0cb;
$light-disabled-text: rgba($light-accent-text, 0.5);
$light-dividers: #546990;
$light-focused: #546990;

$theme-foreground: (
  base:              black,
  divider:           $light-dividers,
  dividers:          $light-dividers,
  disabled:          $light-disabled-text,
  disabled-button:   rgba(#fafafa, 0.24), //$light-disabled-text,
  disabled-text:     $light-disabled-text,
  elevation:         black,
  hint-text:         $light-accent-text,
  secondary-text:    $light-accent-text,
  accent-text:       $light-accent-text,
  icon:              $light-accent-text,
  icons:             $light-accent-text,
  text:              $light-text,
  slider-min:        $light-accent-text,
  slider-off:        rgba($light-accent-text, 0.3),
  slider-off-active: rgba($light-accent-text, 0.3),
);

// Dark bg
$dark-bg:             #fff;
$dark-bg-lighter-5:   darken($dark-bg, 5%);
$dark-bg-lighter-10:  darken($dark-bg, 10%);
$dark-bg-lighter-20:  darken($dark-bg, 20%);
$dark-bg-lighter-30:  darken($dark-bg, 30%);
$light-bg-alpha-4:    rgba(#000, 0.04);
$light-bg-alpha-12:   rgba(#000, .12);

// Background palette
$theme-background: (
  // .mat-app-background
  // .checkbox-mark-color (stroke)
  // .mat-drawer-container
  background:               transparentize($dark-bg, .8),
  // .mat-toolbar
  app-bar:                  transparentize($dark-bg, .04),
  // .mat-option
  // .mat-list-option
  // .mat-list-item
  // .mat-step-header
  // .mat-expansion-panel
  hover:                    $light-bg-alpha-4,
  // .mat-card
  // .mat-autocomplete-panel
  // .mat-option
  // .mat-button-toggle-appearance-standard (+ added to mat-button-toggle-appearance-legacy)
  // .mat-menu-panel
  // .mat-select-panel
  // .mat-drawer-backdrop (+opacity .6)
  // .mat-stepper-horizontal
  // .mat-table
  // .mat-tree
  card:                     transparentize($dark-bg, .12),
  // .mat-bottom-sheet-container
  // .mat-drawer-push
  dialog:                   transparentize($dark-bg, .12),
  // .mat-tooltip
  tooltip:                  $dark-bg-lighter-20,
  // .mat-badge-disabled
  // .mat-button-disabled
  // .mat-expansion-panel-header (disabled)
  disabled-button:          $dark-bg-lighter-5,
  // .mat-flat-button
  // .mat-raised-button
  // .mat-fab
  // .mat-mini-fab
  raised-button:            $dark-bg-lighter-5,
  // .mat-button-toggle-focus-overlay
  focused-button:           $light-focused,
  // .mat-button-toggle-checked
  selected-button:          $dark-bg-lighter-10,
  // .mat-button-toggle-disabled.mat-button-toggle-checked
  selected-disabled-button: $dark-bg-lighter-30,
  // .mat-button-toggle-disabled
  disabled-button-toggle:   transparent, //$dark-bg-lighter-10,
  // mat-chip.mat-standard-chip
  unselected-chip:          $dark-bg-lighter-10,
  // .mat-list-item-disabled
  disabled-list-option:     $dark-bg-lighter-10,
);

// Theme config
$theme: (
  color: (
    is-dark: false,
    primary: $theme-primary,
    accent: $theme-accent,
    warn: $theme-warn,
    foreground: $theme-foreground,
    background: $theme-background,
  ),
  density: null,
  typography: $theme-typography,
  // custom config
  custom: (
    color: (
      secondary: $theme-secondary,
      info: $theme-info,
      success: $theme-success,
      caution: $theme-caution
    )
  )
);

//
// Build theme
//
@include mat.core($theme-typography);

.transparent-light-theme {
  @include mat.all-component-themes($theme);
  @include customTheme.theme($theme);

  background-image: url('/assets/bg.jpg');
  background-size: cover;
}
