<h2 class="title">Button Toggle</h2>

<div>
  See Angular's Material's <a color="primary" href="https://material.angular.io/components/button-toggle/overview" target="_blank">Button toggle component</a> and
  <a href="https://github.com/angular/components/tree/main/src/material/button-toggle" target="_blank">source code</a>.
</div>


<section>

  <mat-card>
    <mat-card-title>Standard appearance colors</mat-card-title>

    <mat-card-content class="col">

      <div>
        <div class="mat-caption">Default</div>
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
          <mat-button-toggle value="bold">
            <mat-icon>format_bold</mat-icon>
            Bold
          </mat-button-toggle>
          <mat-button-toggle value="italic">
            <mat-icon>format_italic</mat-icon>
            Italic
          </mat-button-toggle>
          <mat-button-toggle value="underline">
            <mat-icon>format_underline</mat-icon>
            Underline
          </mat-button-toggle>
          <mat-button-toggle value="disabled" disabled>
            <mat-icon>hide_source</mat-icon>
            Disabled
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>

      <div *ngFor="let c of allColors">
        <div class="mat-caption">{{ c | titlecase }}</div>
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [attr.color]="c">
          <mat-button-toggle value="bold">
            <mat-icon>format_bold</mat-icon>
            Bold
          </mat-button-toggle>
          <mat-button-toggle value="italic">
            <mat-icon>format_italic</mat-icon>
            Italic
          </mat-button-toggle>
          <mat-button-toggle value="underline">
            <mat-icon>format_underline</mat-icon>
            Underline
          </mat-button-toggle>
          <mat-button-toggle value="disabled" disabled>
            <mat-icon>hide_source</mat-icon>
            Disabled
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>

    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Legacy appearance colors</mat-card-title>

    <mat-card-content class="col">

      <div>
        <div class="mat-caption">Default</div>
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style" appearance="legacy">
          <mat-button-toggle value="bold">
            <mat-icon>format_bold</mat-icon>
            Bold
          </mat-button-toggle>
          <mat-button-toggle value="italic">
            <mat-icon>format_italic</mat-icon>
            Italic
          </mat-button-toggle>
          <mat-button-toggle value="underline">
            <mat-icon>format_underline</mat-icon>
            Underline
          </mat-button-toggle>
          <mat-button-toggle value="disabled" disabled>
            <mat-icon>hide_source</mat-icon>
            Disabled
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>

      <div *ngFor="let c of allColors">
        <div class="mat-caption">{{ c | titlecase }}</div>
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [attr.color]="c" appearance="legacy">
          <mat-button-toggle value="bold">
            <mat-icon>format_bold</mat-icon>
            Bold
          </mat-button-toggle>
          <mat-button-toggle value="italic">
            <mat-icon>format_italic</mat-icon>
            Italic
          </mat-button-toggle>
          <mat-button-toggle value="underline">
            <mat-icon>format_underline</mat-icon>
            Underline
          </mat-button-toggle>
          <mat-button-toggle value="disabled" disabled>
            <mat-icon>hide_source</mat-icon>
            Disabled
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>

    </mat-card-content>
  </mat-card>


  <mat-card>
    <mat-card-title>Mixed colors</mat-card-title>

    <mat-card-content class="col">

      <div>
        <div class="mat-caption">Default</div>
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
          <mat-button-toggle value="inherit">Default color</mat-button-toggle>
          <mat-button-toggle *ngFor="let c of allColors" [value]="c" [attr.color]="c">
            {{ c | titlecase }}
          </mat-button-toggle>
          <mat-button-toggle value="disabled" disabled>Disabled</mat-button-toggle>
        </mat-button-toggle-group>
      </div>

      <div>
        <div class="mat-caption">Default</div>
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style" color="primary">
          <mat-button-toggle value="inherit">Inherit primary color</mat-button-toggle>
          <mat-button-toggle *ngFor="let c of allColors" [value]="c" [attr.color]="c">
            {{ c | titlecase }}
          </mat-button-toggle>
          <mat-button-toggle value="disabled" disabled>Disabled</mat-button-toggle>
        </mat-button-toggle-group>
      </div>

      <div>
        <div class="mat-caption">Legacy</div>
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style" appearance="legacy" >
          <mat-button-toggle value="inherit">Default color</mat-button-toggle>
          <mat-button-toggle *ngFor="let c of allColors" [value]="c" [attr.color]="c">
            {{ c | titlecase }}
          </mat-button-toggle>
          <mat-button-toggle value="disabled" disabled>Disabled</mat-button-toggle>
        </mat-button-toggle-group>
      </div>

      <div>
        <div class="mat-caption">Legacy</div>
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style" appearance="legacy" color="secondary">
          <mat-button-toggle value="inherit">Inherit secondary color</mat-button-toggle>
          <mat-button-toggle *ngFor="let c of allColors" [value]="c" [attr.color]="c">
            {{ c | titlecase }}
          </mat-button-toggle>
          <mat-button-toggle value="disabled" disabled>Disabled</mat-button-toggle>
        </mat-button-toggle-group>
      </div>

    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Dense variants</mat-card-title>

    <mat-card-content class="col">

      <div>
        <mat-button-toggle-group dense name="fontStyle" aria-label="Font Style" color="secondary">
          <mat-button-toggle *ngFor="let c of matColors" [value]="c" [attr.color]="c">
            <mat-icon>not_started</mat-icon> {{ c | titlecase }}
          </mat-button-toggle>
          <mat-button-toggle value="disabled" disabled>Disabled</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <div>
        <mat-button-toggle-group dense name="fontStyle" aria-label="Font Style" color="secondary" appearance="legacy">
          <mat-button-toggle *ngFor="let c of matColors" [value]="c" [attr.color]="c">
            <mat-icon>not_started</mat-icon> {{ c | titlecase }}
          </mat-button-toggle>
          <mat-button-toggle value="disabled" disabled>Disabled</mat-button-toggle>
        </mat-button-toggle-group>
      </div>

    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Compact variants</mat-card-title>

    <mat-card-content class="col">

      <div>
        <mat-button-toggle-group compact name="fontStyle" aria-label="Font Style" color="secondary">
          <mat-button-toggle *ngFor="let c of matColors" [value]="c" [attr.color]="c">
            <mat-icon>not_started</mat-icon> {{ c | titlecase }}
          </mat-button-toggle>
          <mat-button-toggle value="disabled" disabled>Disabled</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <div>
        <mat-button-toggle-group compact name="fontStyle" aria-label="Font Style" color="secondary" appearance="legacy">
          <mat-button-toggle *ngFor="let c of matColors" [value]="c" [attr.color]="c">
            <mat-icon>not_started</mat-icon> {{ c | titlecase }}
          </mat-button-toggle>
          <mat-button-toggle value="disabled" disabled>Disabled</mat-button-toggle>
        </mat-button-toggle-group>
      </div>

    </mat-card-content>
  </mat-card>

</section>
