@use '@angular/material' as mat;

$dark-text: #516377;
$dark-primary-text: $dark-text;

$light-text: white;
$light-primary-text: $light-text;

//
// MAT COLORS
//
$mat-primary: (
  main: #5a8dee,
  lighter: #7ba4f1,
  darker: #4d78ca,
  200: #5a8dee, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$theme-primary: mat.define-palette($mat-primary, main, lighter, darker);

$mat-accent: (
  main: #8B6CC0,
  lighter: #9d83ca,
  darker: #4d3479,
  200: #8B6CC0, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$theme-accent: mat.define-palette($mat-accent, main, lighter, darker);

$mat-warn: (
  main: #ff5b5c,
  lighter: #ff7c7d,
  darker: #d94d4e,
  200: #ff5b5c, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$theme-warn: mat.define-palette($mat-warn, main, lighter, darker);

//
// CUSTOM COLORS
//
$mat-secondary: (
  main: #69809a,
  lighter: #8799ae,
  darker: #596d83,
  200: #69809a, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$theme-secondary: mat.define-palette($mat-secondary, main, lighter, darker);

$theme-info: (
  main: #00cfdd,
  lighter: #33d9e4,
  darker: #00b0bc,
  200: #00cfdd, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$theme-info: mat.define-palette($theme-info, main, lighter, darker);

$theme-success: (
  main: #39da8a,
  lighter: #61e1a1,
  darker: #30b975,
  200: #39da8a, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$theme-success: mat.define-palette($theme-success, main, lighter, darker);

$theme-caution: (
  main: #fdac41,
  lighter: #fdbd67,
  darker: #d79237,
  200: #fdac41, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$theme-caution: mat.define-palette($theme-caution, main, lighter, darker);
