@use 'sass:map';
@use '@angular/material' as theming;
@use "../_material/theme" as matTheme;
@use "../_app/theme" as appTheme;
@use "../_abstract/mixins" as mixins;

@import "colors";
@import "typography";


// Foreground Elements

// Dark Theme text
$light-text: white;
$light-primary-text: $light-text;
$light-accent-text: #a1b0cb;
$light-disabled-text: rgba($light-accent-text, 0.5);
$light-dividers: #546990;
$light-focused: #546990;

$theme-foreground: (
  base:              black,
  divider:           $light-dividers,
  dividers:          $light-dividers,
  disabled:          $light-disabled-text,
  disabled-button:   $light-disabled-text,
  disabled-text:     $light-disabled-text,
  elevation:         black,
  hint-text:         $light-accent-text,
  secondary-text:    $light-accent-text,
  accent-text:       $light-accent-text,
  icon:              $light-accent-text,
  icons:             $light-accent-text,
  text:              $light-text,
  slider-min:        $light-accent-text,
  slider-off:        rgba($light-accent-text, 0.3),
  slider-off-active: rgba($light-accent-text, 0.3),
);

// Dark bg
$dark-background:     #1c222f;
$dark-bg-lighter-5:   #283144; //lighten($dark-background, 5%);
$dark-bg-lighter-10:  lighten($dark-background, 10%);
$dark-bg-lighter-20:  lighten($dark-background, 20%);
$dark-bg-lighter-30:  lighten($dark-background, 30%);
$light-bg-alpha-4:    rgba(#fafafa, 0.04);
$light-bg-alpha-12:   rgba(#fafafa, 0.12);

// Background palette for dark themes.
$theme-background: (
  background:               $dark-background,
  status-bar:               $dark-bg-lighter-20,
  app-bar:                  $dark-bg-lighter-5,
  hover:                    $light-bg-alpha-4,
  card:                     $dark-bg-lighter-5,
  dialog:                   $dark-bg-lighter-5,
  tooltip:                  $dark-bg-lighter-20,
  disabled-button:          $light-bg-alpha-12,
  raised-button:            $dark-bg-lighter-5,
  focused-button:           $light-focused,
  selected-button:          $dark-bg-lighter-20,
  selected-disabled-button: $dark-bg-lighter-30,
  disabled-button-toggle:   $dark-bg-lighter-10,
  unselected-chip:          $dark-bg-lighter-20,
  disabled-list-option:     $dark-bg-lighter-10,
);

// Theme config
$theme: (
  color: (
    is-dark: true,
    primary: $theme-primary,
    accent: $theme-accent,
    warn: $theme-warn,
    foreground: $theme-foreground,
    background: $theme-background,
  ),
  density: null,
  typography: $theme-typography,
  // custom config
  custom: (
    color: (
      secondary: $theme-secondary,
      info: $theme-info,
      success: $theme-success,
      caution: $theme-caution
    )
  )
);

//
// Build theme
//
@include theming.core($theme-typography);

:root {
  @include mixins.export_theme_colors_vars($theme);
}

.arc-dark-theme {
  @include theming.all-component-themes($theme);
  @include matTheme.theme($theme);
  @include appTheme.theme($theme);

  background-color: $dark-background;

  a:not(.mat-button, .mat-list-item),
  a:not(.mat-button, .mat-list-item):hover,
  a:not(.mat-button, .mat-list-item):active,
  a:not(.mat-button, .mat-list-item):visited {
    color: map.get($theme-primary, default);
  }

}
