<h2 class="title">Progress bar</h2>

<div>
  See Angular's Material's <a color="primary" href="https://material.angular.io/components/progress-bar/overview"
                              target="_blank">Progress bar component</a> and
  <a href="https://github.com/angular/components/tree/main/src/material/progress-bar" target="_blank">source code</a>.
</div>

<section>

  <mat-card>
    <mat-card-title>Progress bar</mat-card-title>
    <mat-card-content>

      <mat-progress-bar
        *ngFor="let c of allColors"
        mode="determinate"
        value="66"
        [color]="c"></mat-progress-bar>

    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Progress animated bar</mat-card-title>
    <mat-card-content>

      <mat-progress-bar
        *ngFor="let c of allColors"
        mode="indeterminate"
        [color]="c"></mat-progress-bar>

    </mat-card-content>
  </mat-card>

</section>
