<h2 class="title">List</h2>

<div>
  See Angular's Material's <a color="primary" href="https://material.angular.io/components/list/overview"
                              target="_blank">List component</a> and
  <a href="https://github.com/angular/components/tree/main/src/material/list" target="_blank">source code</a>.
</div>

<section>

  <mat-card>
    <mat-card-title>List</mat-card-title>
    <mat-card-content>

      <div class="caption">List</div>
      <mat-list>
        <mat-list-item
          *ngFor="let item of items"
          [disabled]="item.disabled">{{ item.name }}</mat-list-item>
      </mat-list>

      <div class="caption">Action list</div>
      <mat-action-list>
        <button
          *ngFor="let action of actions"
          mat-list-item
          [disabled]="action.disabled"><mat-icon>{{ action.icon }}</mat-icon>{{ action.name }}</button>
      </mat-action-list>

      <div class="caption">Selection list</div>
      <mat-selection-list>
        <mat-list-option
          *ngFor="let item of items"
          [disabled]="item.disabled">
          {{ item.name }}
        </mat-list-option>
      </mat-selection-list>

    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Dense</mat-card-title>
    <mat-card-content>

      <div class="caption">List</div>
      <mat-list dense>
        <mat-list-item
          *ngFor="let item of items"
          [disabled]="item.disabled">{{ item.name }}</mat-list-item>
      </mat-list>

      <div class="caption">Action list</div>
      <mat-action-list dense>
        <button
          *ngFor="let action of actions"
          mat-list-item
          [disabled]="action.disabled"><mat-icon>{{ action.icon }}</mat-icon>{{ action.name }}</button>
      </mat-action-list>

      <div class="caption">Selection list</div>
      <mat-selection-list dense>
        <mat-list-option
          *ngFor="let item of items"
          [disabled]="item.disabled">
          {{ item.name }}
        </mat-list-option>
      </mat-selection-list>

    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Compact</mat-card-title>
    <mat-card-content>

      <div class="caption">List</div>
      <mat-list compact>
        <mat-list-item
          *ngFor="let item of items"
          [disabled]="item.disabled">{{ item.name }}</mat-list-item>
      </mat-list>

      <div class="caption">Action list</div>
      <mat-action-list compact>
        <button
          *ngFor="let action of actions"
          mat-list-item
          [disabled]="action.disabled"><mat-icon>{{ action.icon }}</mat-icon>{{ action.name }}</button>
      </mat-action-list>

      <div class="caption">Selection list</div>
      <mat-selection-list compact>
        <mat-list-option
          *ngFor="let item of items"
          [disabled]="item.disabled">
          {{ item.name }}
        </mat-list-option>
      </mat-selection-list>

    </mat-card-content>
  </mat-card>

</section>
