<h1 class="mat-display-1">List</h1>

<section>

  <mat-card>
    <mat-card-title>List</mat-card-title>
    <mat-card-content>

      <div class="caption">List</div>
      <mat-list>
        <mat-list-item> Pepper </mat-list-item>
        <mat-list-item> Salt </mat-list-item>
        <mat-list-item> Paprika </mat-list-item>
      </mat-list>

      <div class="caption">Action list</div>
      <mat-action-list>
        <button mat-list-item><mat-icon>done</mat-icon>Save</button>
        <button mat-list-item><mat-icon>undo</mat-icon>Undo</button>
      </mat-action-list>

    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Dense</mat-card-title>
    <mat-card-content>

      <div class="caption">Action list</div>
      <mat-action-list dense>
        <button mat-list-item><mat-icon>done</mat-icon>Save</button>
        <button mat-list-item><mat-icon>undo</mat-icon>Undo</button>
      </mat-action-list>

    </mat-card-content>
  </mat-card>

</section>
