<h2 class="title">Radio button</h2>

<div>
  See Angular's Material's <a color="primary" href="https://material.angular.io/components/radio/overview"
                              target="_blank">Radio button component</a>.
</div>

<section>

  <mat-card>
    <mat-card-title>Radio button label position</mat-card-title>
    <mat-card-content>

      <mat-radio-group>
        <mat-radio-button
          color="primary">After
        </mat-radio-button>
        <mat-radio-button
          color="primary"
          checked labelPosition="before">Before</mat-radio-button>
      </mat-radio-group>

    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Radio button colors</mat-card-title>
    <mat-card-content>

      <mat-radio-group *ngFor="let c of allColors" [name]="c">
        <mat-radio-button
          checked
          [color]="$any(c)"
          [attr.color]="c">{{ c | titlecase }} radio</mat-radio-button>
      </mat-radio-group>

    </mat-card-content>
  </mat-card>

</section>
