<h2 class="title">Slider</h2>

<div>
  See Angular's Material's <a color="primary" href="https://material.angular.io/components/slider/overview"
                              target="_blank">Slider component</a> and
  <a href="https://github.com/angular/components/tree/main/src/material/slider" target="_blank">source code</a>.
</div>

<section>

  <mat-card>
    <mat-card-title>Slider colors</mat-card-title>
    <mat-card-content>

      <mat-slider
        *ngFor="let c of allColors"
        thumbLabel
        vertical
        step="1"
        value="50"
        min="0"
        max="100"
        aria-label="units"
        [color]="c"></mat-slider>

      <mat-slider
        thumbLabel
        vertical
        step="1"
        value="50"
        min="0"
        max="100"
        aria-label="units"
        disabled></mat-slider>

    </mat-card-content>
  </mat-card>

</section>
