:host {

  display: flex;
  flex-direction: column;

  section {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .mat-card-content {
    padding-left: 24px;
    display: flex;
    gap: 24px;
  }

}
