<h2 class="title">Button</h2>

<div>
  See Angular's Material's <a color="primary" href="https://material.angular.io/components/button/overview" target="_blank">Button component</a> and
  <a href="https://github.com/angular/components/tree/main/src/material/button" target="_blank">source code</a>.
</div>

<section>

  <mat-card>
    <mat-card-title>Basic button colors</mat-card-title>
    <mat-card-content>
      <button mat-button>Basic</button>
      <button *ngFor="let c of allColors" mat-button [color]="c">{{ c | titlecase }}</button>
      <button mat-button disabled>Disabled</button>
      <a mat-button href="javascript:void(0)">Link</a>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Raised button colors</mat-card-title>
    <mat-card-content>
      <button mat-raised-button>Basic</button>
      <button *ngFor="let c of allColors" mat-raised-button [color]="c">{{ c | titlecase }}</button>
      <button mat-raised-button disabled>Disabled</button>
      <a mat-raised-button href="javascript:void(0)">Link</a>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Stroked button colors</mat-card-title>
    <mat-card-content>
      <button mat-stroked-button>Basic</button>
      <button *ngFor="let c of allColors" mat-stroked-button [color]="c">{{ c | titlecase }}</button>
      <button mat-stroked-button disabled>Disabled</button>
      <a mat-stroked-button href="javascript:void(0)">Link</a>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Flat button collors</mat-card-title>
    <mat-card-content>
      <button mat-flat-button>Basic</button>
      <button *ngFor="let c of allColors" mat-flat-button [color]="c">{{ c | titlecase }}</button>
      <button mat-flat-button disabled>Disabled</button>
      <a mat-flat-button href="javascript:void(0)">Link</a>
    </mat-card-content>
  </mat-card>


  <mat-card>
    <mat-card-title>Icon buttons colors</mat-card-title>
    <mat-card-content>
      <button mat-icon-button>
        <mat-icon>bathroom</mat-icon>
      </button>
      <button *ngFor="let c of allColors" mat-icon-button [color]="c">
        <mat-icon>coffee</mat-icon>
      </button>
      <button mat-icon-button disabled>
        <mat-icon>psychology</mat-icon>
      </button>
      <a mat-icon-button href="javascript:void(0)">
        <mat-icon>dataset</mat-icon>
      </a>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Button with icon</mat-card-title>
    <mat-card-content>
      <button mat-button>
        <mat-icon>bathroom</mat-icon>
        Base
      </button>
      <button *ngFor="let c of allColors" mat-flat-button [color]="c">
        {{ c | titlecase }}
        <mat-icon>coffee</mat-icon>
      </button>
      <button mat-flat-button disabled>
        <mat-icon>psychology</mat-icon>
        Disabled
      </button>
      <a mat-flat-button href="javascript:void(0)">
        <mat-icon>dataset</mat-icon>
        Link</a>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Fab button colors</mat-card-title>
    <mat-card-content>
      <button *ngFor="let c of allColors" mat-fab [color]="c">
        <mat-icon>coffee</mat-icon>
      </button>
      <button mat-fab disabled>
        <mat-icon>psychology</mat-icon>
      </button>

    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Mini fab button colors</mat-card-title>
    <mat-card-content>
      <button *ngFor="let c of allColors" mat-mini-fab [color]="c">
        <mat-icon>coffee</mat-icon>
      </button>
      <button mat-mini-fab disabled>
        <mat-icon>psychology</mat-icon>
      </button>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Dense variants</mat-card-title>
    <mat-card-content>
      <button mat-button color="primary" dense><mat-icon>coffee</mat-icon> Primary</button>
      <button mat-raised-button color="accent" dense><mat-icon>coffee</mat-icon> Accent</button>
      <button mat-stroked-button color="caution" dense><mat-icon>coffee</mat-icon> Caution</button>
      <button mat-flat-button color="info" dense><mat-icon>coffee</mat-icon> Info</button>
      <button mat-icon-button color="success" dense><mat-icon>coffee</mat-icon></button>
      <button mat-mini-fab color="warn" dense><mat-icon>coffee</mat-icon></button>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Compact variants</mat-card-title>
    <mat-card-content>
      <button mat-button color="primary" compact><mat-icon>coffee</mat-icon> Primary</button>
      <button mat-raised-button color="accent" compact><mat-icon>coffee</mat-icon> Accent</button>
      <button mat-stroked-button color="caution" compact><mat-icon>coffee</mat-icon> Caution</button>
      <button mat-flat-button color="info" compact><mat-icon>coffee</mat-icon> Info</button>
      <button mat-icon-button color="success" compact><mat-icon>coffee</mat-icon></button>
      <button mat-mini-fab color="warn" compact><mat-icon>coffee</mat-icon></button>
    </mat-card-content>
  </mat-card>


</section>
