:host {

  display: flex;
  flex-direction: column;

  section {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .mat-card-content {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    align-items: center;
  }

}
