<h1 class="mat-display-1">Form field</h1>

<section [formGroup]="form">

  <mat-card>

    <mat-card-title>Outline</mat-card-title>
    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>Default required input</mat-label>
        <input matInput formControlName="textRequired">
        <mat-icon matPrefix>shopping_cart</mat-icon>
        <mat-icon matSuffix>done</mat-icon>
        <mat-hint>Lorem ipsum dolor</mat-hint>
        <mat-error>Some error message</mat-error>
      </mat-form-field>

      <div class="caption">Dense variant</div>
      <mat-form-field appearance="outline" dense>
        <mat-label>Default input</mat-label>
        <input matInput formControlName="textRequired">
        <mat-icon matPrefix>shopping_cart</mat-icon>
        <mat-icon matSuffix>done</mat-icon>
        <mat-hint>Lorem ipsum dolor</mat-hint>
        <mat-error>Some error message</mat-error>
      </mat-form-field>

    </mat-card-content>

  </mat-card>

  <mat-card>
    <mat-card-title>Fill</mat-card-title>
    <mat-card-content>
      <mat-form-field appearance="fill">
        <mat-label>Default required input</mat-label>
        <input matInput formControlName="textRequired">
        <mat-icon matPrefix>shopping_cart</mat-icon>
        <mat-icon matSuffix>done</mat-icon>
        <mat-hint>Lorem ipsum dolor</mat-hint>
        <mat-error>Some error message</mat-error>
      </mat-form-field>

      <div class="caption">Dense variant</div>
      <mat-form-field appearance="fill" dense>
        <mat-label>Default input</mat-label>
        <input matInput formControlName="textRequired">
        <mat-icon matPrefix>shopping_cart</mat-icon>
        <mat-icon matSuffix>done</mat-icon>
        <mat-hint>Lorem ipsum dolor</mat-hint>
        <mat-error>Some error message</mat-error>
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Standard</mat-card-title>
    <mat-card-content>
      <mat-form-field appearance="standard">
        <mat-label>Default required input</mat-label>
        <input matInput formControlName="textRequired">
        <mat-icon matPrefix>shopping_cart</mat-icon>
        <mat-icon matSuffix>done</mat-icon>
        <mat-hint>Lorem ipsum dolor</mat-hint>
        <mat-error>Some error message</mat-error>
      </mat-form-field>

      <div class="caption">Dense variant</div>
      <mat-form-field appearance="standard" dense>
        <mat-label>Default input</mat-label>
        <input matInput formControlName="textRequired">
        <mat-icon matPrefix>shopping_cart</mat-icon>
        <mat-icon matSuffix>done</mat-icon>
        <mat-hint>Lorem ipsum dolor</mat-hint>
        <mat-error>Some error message</mat-error>
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Legacy</mat-card-title>
    <mat-card-content>

      <mat-form-field appearance="legacy">
        <mat-label>Default input</mat-label>
        <input matInput formControlName="textRequired">
        <mat-icon matPrefix>shopping_cart</mat-icon>
        <mat-icon matSuffix>done</mat-icon>
        <mat-hint>Lorem ipsum dolor</mat-hint>
        <mat-error>Some error message</mat-error>
      </mat-form-field>

      <div class="caption">Dense variant</div>
      <mat-form-field appearance="legacy" dense>
        <mat-label>Default input</mat-label>
        <input matInput formControlName="textRequired">
        <mat-icon matPrefix>shopping_cart</mat-icon>
        <mat-icon matSuffix>done</mat-icon>
        <mat-hint>Lorem ipsum dolor</mat-hint>
        <mat-error>Some error message</mat-error>
      </mat-form-field>
    </mat-card-content>
  </mat-card>

</section>
