///////////////////////////////////////////////////////////////////////////////
// SCROLLBARS
///////////////////////////////////////////////////////////////////////////////
@use 'sass:map';
@use '@angular/material' as theming;


@mixin color($theme) {

  $config: theming.get-color-config($theme);
  $is-dark: map.get($config, is-dark);

  $track-color: rgba(black, .08);
  $thumb-color: rgba(black, .16);

  @if $is-dark {
    $track-color: rgba(black, .32);
    $thumb-color: rgba(white, .16);
  }

  // firefox
  * {
    scrollbar-color: $thumb-color $track-color;
  }
  // chrome
  *::-webkit-scrollbar-track {
    background-color: $track-color;
  }
  *::-webkit-scrollbar-thumb {
    background: $thumb-color;
  }
  *::-webkit-scrollbar-thumb:hover {
    background: $thumb-color;
  }
}

@mixin density($theme) {

  // thin-width: 6px;
  // auto-width: 12px;
  $width: 6px;

  // firefox
  * {
    scrollbar-width: auto;
  }
  // chrome
  *::-webkit-scrollbar {
    width: $width;
    height: $width;
  }
  *::-webkit-scrollbar-track {
    border-radius: 0px;
  }
  *::-webkit-scrollbar-thumb {
    border-radius: 6px;
  }

}

@mixin theme($theme) {
  @include color($theme);
  @include density($theme);
}
