@use 'sass:map';
@use '@angular/material' as theming;


@mixin color($theme) {
}


@mixin typography($theme) {
  .material-icons {
    font-size: 24px;
    font-family: 'Material Icons', 'Material Icons';
    .mat-badge-content {
      font-family: 'Roboto';
    }
  }
}


@mixin theme($theme) {
  @include typography($theme);
  @include color($theme);
}
