@use 'sass:map';
@use '@angular/material' as theming;


@mixin color($theme) {

  $custom-palettes: theming.get-color-config(map.get($theme, custom));

  .mat-toolbar {
    @each $key, $palette in $custom-palettes {
      $contrast: map.get($palette, contrast);
      &[color=#{$key}],
      &.mat-#{$key} {
        background-color: map.get($palette, main);
        @if $contrast {
          color: map.get($contrast, main);
        }
      }
    }

  }

}


@mixin density($theme) {

  .mat-toolbar-row,
  .mat-toolbar-single-row {
    height: 64px;
  }

  .mat-toolbar-row[dense],
  .mat-toolbar-single-row[dense] {
    height: 48px;
  }

}


@mixin theme($theme) {
  @include color($theme);
  @include density($theme);
}
