@use 'sass:map';
@use '@angular/material' as theming;


@mixin color($theme) {
}


@mixin typography($theme) {
}


@mixin density($theme) {

  $dense-size: 40px;
  $dense-icon-size: 20px;

  // remove top/bottom paddings
  .mat-menu-content:not(:empty) {
    padding-top: 0;
    padding-bottom: 0;
  }

  .mat-menu-item[dense] {
    height: $dense-size;
    line-height: $dense-size;
    .mat-icon {
      height: $dense-icon-size;
      width: $dense-icon-size;
      font-size: $dense-icon-size;
      line-height: $dense-icon-size;
    }
  }

}


@mixin theme($theme) {
  @include color($theme);
  @include typography($theme);
  @include density($theme);
}
