@use 'sass:map';
@use '@angular/material' as theming;


@mixin color($theme) {

  $config: theming.get-color-config($theme);

  $primary: map.get($config, primary);
  $primary-contrast: map.get($primary, contrast);

  $accent: map.get($config, accent);
  $accent-contrast: map.get($accent, contrast);

  $warn: map.get($config, warn);
  $warn-contrast: map.get($warn, contrast);

  $custom-config: map.get($theme, custom);
  $custom-colors: map.get($custom-config, colors);
  $custom-palettes: theming.get-color-config($custom-colors);

  .mat-checkbox-indeterminate,
  .mat-checkbox-checked {

    &[color=primary],
    &.mat-primary {
      .mat-checkbox-checkmark-path {
        stroke: map.get($primary-contrast, main) !important;
      }
    }

    &[color=accent],
    &.mat-accent {
      .mat-checkbox-checkmark-path {
        stroke: map.get($accent-contrast, main) !important;
      }
    }

    &[color=warn],
    &.mat-warn {
      .mat-checkbox-checkmark-path {
        stroke: map.get($warn-contrast, main) !important;
      }
    }

    @each $key, $palette in $custom-palettes {
      &[color=#{$key}],
      &.mat-#{$key} {
        .mat-checkbox-background {
          background-color: map.get($palette, main);
        }
        $contrast: map.get($palette, contrast);
        .mat-checkbox-checkmark-path {
          stroke: map.get($contrast, main) !important;
        }
      }
    }
  }

}


@mixin theme($theme) {
  @include color($theme);
}
