@use 'sass:map';
@use '@angular/material' as theming;


@mixin color($theme) {

  $custom-config: map.get($theme, custom);
  $custom-colors: map.get($custom-config, colors);

  $custom-palettes: theming.get-color-config(map.get($theme, custom));

  .mat-radio-button {
    @each $key, $palette in $custom-palettes {
      &[color=#{$key}],
      &.mat-#{$key} {
        &.mat-radio-checked .mat-radio-outer-circle {
          border-color: map.get($palette, main) !important;
        }
        .mat-radio-inner-circle,
        .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
        &.mat-radio-checked .mat-radio-persistent-ripple,
        &:active .mat-radio-persistent-ripple {
          background-color: map.get($palette, main) !important;
        }
      }
    }
  }

}


@mixin density($theme) {
  .mat-radio-container {
    height: 24px;
    width: 24px;
  }
  .mat-radio-outer-circle,
  .mat-radio-inner-circle {
    top: 2px;
    left: 2px;
  }
}


@mixin theme($theme) {
  @include color($theme);
  @include density($theme);
}

