@use 'sass:map';
@use 'sass:meta';
@use '@angular/material' as theming;


@mixin _checked-color($palette, $thumb-checked-hue) {
  &.mat-checked {
    .mat-slide-toggle-thumb {
      background-color: theming.get-color-from-palette($palette, $thumb-checked-hue);
    }
    .mat-slide-toggle-bar {
      background-color: theming.get-color-from-palette($palette, $thumb-checked-hue, 0.54);
    }
    .mat-ripple-element {
      background-color: theming.get-color-from-palette($palette, $thumb-checked-hue);
    }
  }
}


@mixin color($theme) {

  $custom-palettes: theming.get-color-config(map.get($theme, custom));

  $thumb-checked-hue: default;

  .mat-slide-toggle {

    @each $key, $palette in $custom-palettes {
      &[color=#{$key}],
      &.mat-#{$key} {
        @include _checked-color($palette, $thumb-checked-hue);
      }
    }

  }

}


@mixin theme($theme) {
  @include color($theme);
}
