@use 'sass:map';
@use '@angular/material' as theming;


@mixin color($theme) {

  $custom-palettes: theming.get-color-config(map.get($theme, custom));

  .mat-toolbar {
    @each $key, $palette in $custom-palettes {
      $contrast: map.get($palette, contrast);
      &.mat-#{$key} {
        background-color: map.get($palette, main);
        @if $contrast {
          color: map.get($contrast, main);
        }
      }
    }
  }

}


@mixin theme($theme) {
  @include color($theme);
}
