@use 'sass:map';
@use '@angular/material' as theming;


@mixin color($theme) {

  $config: theming.get-color-config($theme);
  $background: map.get($config, background);
  $primary: map.get($config, primary);
  $accent: map.get($config, accent);
  $warn: map.get($config, warn);

  $custom-palettes: theming.get-color-config(map.get($theme, custom));

  .mat-icon {

    &[color=primary],
    &.mat-primary {
      color: theming.get-color-from-palette($primary);
    }
    &[color=accent],
    &.mat-accent {
      color: theming.get-color-from-palette($accent);
    }
    &[color=warn],
    &.mat-warn {
      color: theming.get-color-from-palette($warn);
    }

    @each $key, $palette in $custom-palettes {
      &[color=#{$key}],
      &.mat-#{$key} {
        color: theming.get-color-from-palette($palette);
      }
    }
  }

}


@mixin typography($theme) {

  $size: 24px;
  $dense-size: 20px;

  .material-icons {
    vertical-align: middle;
    font-size: $size;
    font-family: 'Material Icons', 'Material Icons';
    .mat-badge-content {
      font-family: 'Roboto';
    }
  }

  .mat-icon[dense] {
    font-size: $dense-size;
    line-height: $dense-size;
    width: $dense-size;
    height: $dense-size;
  }
}


@mixin theme($theme) {
  @include typography($theme);
  @include color($theme);
}
