@use 'sass:map';
@use '@angular/material' as theming;


@mixin color($theme) {

  .mat-table {
    caption {
      background: inherit;
      padding: 16px;
    }
  }

}


@mixin typography($theme) {

  $config: theming.get-typography-config($theme);

  .mat-table {
    // add custom caption styles
    caption {
      text-align: left;
      font: {
        size: map.get(map.get($config, headline), font-size);
        weight: map.get(map.get($config, title), font-weight);
      }
    }
    .mat-checkbox {
      transform: translateY(-1px);
    }
    tr:last-child td {
      border-bottom: none;
    }
  }

}


@mixin density($theme) {

  .mat-table[dense] {
    tr.mat-header-row {
      height: 48px;
    }
    tr.mat-row,
    tr.mat-footer-row {
      height: 40px;
    }
  }

}


@mixin theme($theme) {
  @include color($theme);
  @include typography($theme);
  @include density($theme);
}
