@use 'sass:map';
@use '@angular/material' as theming;


@mixin color($theme) {

  $config: theming.get-color-config($theme);
  $is-dark-theme: map.get($config, is-dark);

  .mat-card:not([class*=mat-elevation-z]) {
    @if $is-dark-theme {
      box-shadow: 0 2px 14px rgba(0 0 0 / 16%);
    }
    @else {
      box-shadow: 0 2px 14px rgb(0 0 0 / 8%);
    }
  }

}


@mixin typography($theme) {

  $config: theming.get-typography-config($theme);

  // customize card
  .mat-card {
    overflow: hidden;
  }

  .mat-card-header {
    gap: 16px;
  }

  .mat-card-header-text {
    margin: 0;
  }

  .mat-card-title {
    margin-bottom: 16px;
  }

  .mat-card-title + .mat-card-subtitle {
    margin-top: -12px;
  }

  .mat-card-title + .mat-divider + .mat-card-content,
  .mat-card-subtitle + .mat-divider + .mat-card-content,
  .mat-card-image + .mat-divider + .mat-card-content,
  .mat-card-title + .mat-divider + .mat-card-image,
  .mat-card-subtitle + .mat-divider + .mat-card-image {
    margin-top: 32px;
  }
  .mat-card-header + .mat-divider + .mat-card-content,
  .mat-card-header + .mat-divider + .mat-card-image {
    margin-top: 16px;
  }



  .mat-card-actions {
    margin-left: 0;
    margin-right: 0;
    &:last-child {
      margin-bottom: 0 !important;
    }
    padding-top: 16px;
  }

}


@mixin theme($theme) {
  @include color($theme);
  @include typography($theme);
}
