@use 'sass:map';
@use 'sass:meta';
@use '@angular/material' as theming;


@mixin _ripple-background($palette, $hue, $opacity: 0.1) {
  $background-color: theming.get-color-from-palette($palette, $hue, $opacity);
  background-color: $background-color;
  @if (meta.type-of($background-color) != color) {
   opacity: $opacity;
  }
}


@mixin color($theme) {

  $custom-palettes: theming.get-color-config(map.get($theme, custom));

  .mat-button,
  .mat-icon-button,
  .mat-stroked-button {
    @each $key, $palette in $custom-palettes {
      &[color=#{$key}],
      &.mat-#{$key} {
        color: map.get($palette, main);
        // focus
        .mat-button-focus-overlay {
          background-color: theming.get-color-from-palette($palette);
        }
      }
    }
  }

  .mat-raised-button,
  .mat-flat-button,
  .mat-fab,
  .mat-mini-fab {
    @each $key, $palette in $custom-palettes {
      $contrast: map.get($palette, contrast);
      &[color=#{$key}],
      &.mat-#{$key} {
        background-color: map.get($palette, main);
        @if $contrast {
          color: map.get($contrast, main);
        }
        // ripple
        .mat-ripple-element {
          @include _ripple-background($palette, default-contrast);
        }
      }
    }
  }


}


@mixin typography($theme) {
}


@mixin density($theme) {

  $standard-size: 40px;

  $dense-size: 32px;
  $dense-icon-size: 20px;

  $compact-size: 32px;
  $compact-icon-size: 16px;

  .mat-button,
  .mat-raised-button,
  .mat-stroked-button,
  .mat-flat-button {
    min-width: 2em;
    line-height: $standard-size;
    .mat-button-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4px;
    }
  }

  .mat-stroked-button {
    line-height: $standard-size - 2px; // top/bottom border
  }

  .mat-button,
  .mat-raised-button,
  .mat-stroked-button,
  .mat-flat-button,
  .mat-icon-button,
  .mat-mini-fab {
    &[dense] {
      line-height: $dense-size;
      .mat-icon {
        height: $dense-icon-size;
        width: $dense-icon-size;
        font-size: $dense-icon-size;
        line-height: $dense-icon-size;
      }
    }
  }

  .mat-icon-button {
    &[dense] {
      line-height: $dense-icon-size;
      width: $dense-size;
      height: $dense-size;
    }
  }

  .mat-mini-fab[dense] {
    width: $dense-size;
    height: $dense-size;
    .mat-button-wrapper {
      line-height: $dense-icon-size;
      padding: 4px 0;
    }
  }

}


@mixin theme($theme) {
  @include color($theme);
  @include typography($theme);
  @include density($theme);
}
